@font-face {
    font-family: 'CookieRun';
    font-weight: bold;
    src: local("CookieRun"),
    local("CookieRun-Bold"),
    url(../fonts/CookieRun-Bold.woff);
}

@font-face {
    font-family: 'CookieRun';
    font-weight: normal;
    src: local("CookieRun"),
    local("CookieRun-Regular"),
    url(../fonts/CookieRun-Regular.woff);
}